<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<div class="mobile">

    <header class="topbar">
    <a href="/"><img src="/img/logo.png" alt="Logo" style="height:32px;vertical-align:middle;"></a>
        <%- include('../partials/navbar') %>
    </header>
    
    <main>
        <%- body %>
    </main>
</div>


</body>
</html>
